%%% ===========================================================================
%%% @doc `emixin' Rebar configuration file.
%%% @author Damian T. Dobroczy\\'nski <qoocku@gmail.com>
%%% @since 2011-04-09
%%% ===========================================================================

{edoc_opts, [{hidden, true},
             {private, true}]}.
{erl_opts, [debug_info]}.
